body {
  background-color: #FFFFFF;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.main.container {
  padding-top: 7em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
.ui.overlay.description {
  position: fixed;
  top: 0px;
  z-index: 65535;
  height: 100%;
  background: rgba(0, 0, 0, 0.10);
  padding: 5.4em 2em;
  width: 25%; 
}